body { 
      background: url("@routes.Assets.at("images/cheesecake.jpg")") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }