
.about-content{
	margin-left: 14%; 
	width: 100%;
}



.about-font{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #4e5557;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.about-title-font{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  background-color: #a4d6e3;
  border-radius: 20px;
}


tr.spaceUnder > td
{
  padding-bottom: 1em;
}

body {
    background: url("../images/tulips.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
}