
#copy-link-btn {
    margin-left: auto;
    margin-right: auto;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

table {
    width: 100%;
}

.share-text {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

#refresh-list {
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

#leave-group {
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.hostlink {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#member-list {
    padding: 20px;
    overflow-y: auto;
    height: 200px;
}

#rec-btn {
    margin: 0 auto;
    display: block;
}

.modal.in {
   display:block;
}

body {
    background: url("../images/pudding.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
}