body{
	background: url("../images/cheesecake.JPG") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	height:100%;
}

.navbar-right{
    margin-top: 10px;
}

.horizontally-centered{
  padding-left: auto; 
  padding-right: auto; 
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
  margin-right: 0;
  margin-left: 18px;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 15px;
}

.preferences-container{
  margin-top: 2%;
}

.navbar-font {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-font:hover{
  text-decoration:none;
  color:black;
  !background: red;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

.pacifico-font {
  font: 100 50px/1.5 'Pacifico', Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

/*.settings-label{
    font: 100 25px/1.5 'Pacifico', Helvetica, sans-serif;
    line-height: 150%;
    color: black;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}*/
.pacifico-font-header{
  margin-top: -8px;
}

.pacifico-font-headline{
    font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
}

.subtitle{
  font: 100 32.5px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.navbar-wrapper {
  background: rgba(250,250,250,0.4);
  border-color: transparent;
  border-radius: 0px;
}

.centreDiv{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 500px;
  text-align: center;
}

#signup{
  width: 130%;
  height: 70%;
}

.centered {  
  position:fixed;
  z-index: 100;  
  top:50%;  
  left:40%;  
  margin:-100px 0 0 -100px;  
  width:400px;  
  height:250px;  
}

.centered-modal{  
  position:fixed;
  top:20%;  
  left:3%;    
}

#btns {
  text-align: center;
  margin-top: 3px;
}

#share-link-btn {
  padding: 5px;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
  border-color: #CCCCCC #999999 #999999 #CCCCCC;
  border-style: solid;
  border-width: 1px;
  background: #eee;
  cursor: pointer;
  float: none;
  min-width: 175px;
  margin: 2%;
}

#hostBtn {
  margin-left: 0%; 
  margin-top: 10%;
  width: 100%;
}

.row-centered{
	margin-top: 5px;
}

.transparent-bg{
  background-color:rgba(255,255,255,0.4);
}

.black-transparent-bg{
  background-color:rgba(0,0,0,0.5);
}

#profile-picture{
  width: 30px;
  height: 30px;
  margin: 0px;
}

#profileBtn{
  padding: 0px;
  margin-top: 7px;
}

#fbBtn{
  margin-top: 5%;
}

#loginLogoutBtn{
  margin: 5px;
}

.nav-bar a:hover
{
  text-decoration:none;
  color:black;
}
/** Background - newPage http://www.css-jquery-design.com/2013/05/jquery-animate-full-page-multiple-background-image-fade-in-out-effect/ **/
#wrap{
	position:fixed;;
	z-index:-1;
	top:0;
	left:0;
	background-color:black
}
#wrap img.bgfade{
	position:absolute;
	top:0;
	display:none;
	width:100%;
	height:100%;
	z-index:-1
}

.transparent-bg-rounded {
    background-color:rgba(255,255,255,0.3);
    position: relative;
    z-index: 100;
    margin: -100px 0 0 -100px;
    width: 60%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    border-radius: 25px;
    padding: 25px;
}

.heading-font{
  font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.rounded-transparent-bg {
    background-color:rgba(255,255,255,0.3);
    position: relative;
    z-index: 100;
    height: 500px;
    margin: auto;
    border-radius: 25px;
    padding: 25px;
    
}
