.transparent-bg-rounded {
    background-color:rgba(255,255,255,0.3);
    position: relative;
    z-index: 100;
    margin: -100px 0 0 -100px;
    width: 60%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    border-radius: 25px;
    padding: 25px;
}

.transparent-bg-rounded:hover {
    background-color: #a4d6e3;
}


.message {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    justify-content: center;
    align-items: center;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}


