.centered-content{
    display:block;
    margin:auto;
}

#big-profile-pic{
    border-radius: 25px;
}

#fb-name{
	color: white;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	text-align: center;
    margin-left: 25px;
    font-size: 20px;
}

#share-btn {
 position: absolute; 
 margin-top: 10px;
 width: 30%;
 padding-left: 0px;
 margin-left: 25px;
}

#preferences-btn{
 position: absolute; 
 margin: 10px;
 bottom: 0px;
 width: 90%;
}

.profile-content{
    width: 600px;
    margin-left: 15px;
}

.profile-img-content{
    width: 250px;
    top: 0px;
    margin-left: 85px;
}

.fb-share-button{
    margin-top: 20px;
}