.panel-group{
	margin: 10%;
	border: 0px;
}

.panel-body {
    overflow: auto;
}

.panel-default{
	background-color:rgba(255,255,255,0);
}

#restaurant-header{
	background-color:rgba(255,255,255,0.8);
}
.dishes-font{
  font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.dish-div {
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,255,0.6);
    color: #2394B5;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

.dish-div:hover {
    background-color: #a4d6e3;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}


body {
    background: url("../images/tulips.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
}