.tags-font{
  font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

.blur img:hover {
  -webkit-filter: blur(5px);
  transition: 1s ease;
}
.blur img{
  transition: 1s ease;
}

.color img{ 
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); 
  -webkit-transition: all 1s ease; 
}
.color img:hover{ 
  filter: grayscale(0%);
  filter: gray; 
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

.fadein img{
  opacity:0.5;
  transition: 1s ease;
}
.fadein img:hover{
  opacity:1;
  transition: 1s ease;
}

.grow img{
  transition: 1s ease;
}
.grow img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
.shrink img {
  transition: 1s ease;
}
.shrink img:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}

.circle img {
  transition: 0.5s ease;
}
.circle img:hover {
  border-radius:50%;
  transition: 0.5s ease;
}

.brighten img {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.brighten img:hover {
  -webkit-filter: brightness(100%);
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
}

.settings-content{
    display: block;
    text-align: center;
}
.container-small {
    max-width: 80%;
}

.icon-highlight {
  color: #a4d6e3 !important;
}

.tag-icon{
  font-size: 20px;
  margin: 5px;
  color: white;
}

.tag-icon-not-highlighted:hover {
    color: #DE7474;
}

.tag-icon-highlighted{
  color: #d03939;
}

.transparent-small-op-bg{
  background-color: rgba(28, 29, 29, 0.5);
}

.transparent-small-op-bg:hover {
  background-color: rgba(255,255,255,0.2);
}

label {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}


body {
    background: url("../images/shrimps.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
}