@(message: String)(implicit request: RequestHeader)

@main(message, isHomepage = false) {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/about.css")">



    <div class="transparent-bg-rounded">
        <table>
            <tbody>
                <tr class="spaceUnder">
                    <td colspan="100%">
                        <p class="about-title-font">&nbsp; About Dishlicious</p>
                        <p class="about-font">
                            Dishlicious aims to provide recommendations of dishes and restaurants for groups of users.
                            The recommendations will be adapted to each group member’s taste buds according to their likes and dislikes.
                        </p>
                        <p class="about-font">
                            It provide users a convenient way to organize group meals without the hassle of figuring out everyone’s likes and
                            dislikes.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="100%" class="about-title-font">
                        &nbsp; About the Team
                    </td>
                </tr>
                <tr class="spaceUnder"> <td colspan="100%">&nbsp; </td></tr>
                <tr style="text-align: center">
                    <td>
                        <img class="img-circle" src="@routes.Assets.at("images/edward.jpg")"></img><br><br>
                        <label class="about-font">Edward Gao</label>
                    </td>
                    <td>
                        <img class="img-circle" src="@routes.Assets.at("images/maisie.jpg")"></img><br><br>
                        <label class="about-font">Maisie Wang</label>
                    </td>
                    <td>
                        <img class="img-circle" src="@routes.Assets.at("images/neha.jpg")"></img><br><br>
                        <label class="about-font">Neha Sharma</label>
                    </td>
                    <td>
                        <img class="img-circle" src="@routes.Assets.at("images/schukey.jpg")"></img><br><br>
                        <label class="about-font">Schukey Shan</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

<!-- <div class="col-sm-1 fb-page-content rounded-transparent-bg">
			<div class="fb-like-box" data-href="https://www.facebook.com/dishlicious-uw" data-width="250" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="false"></div>
		</div> -->