@(tag: DTag, wlIconHighlight:Boolean, blIconHighlight:Boolean)

<div class="col-md-2">
    <div class="thumbnail settings-content transparent-small-op-bg" width="100px" height="100px">
        <label class="settings-label tags-font" tagid="@tag.id">@tag.name</label><br>

        @{
            if (wlIconHighlight == true){
                <i class="fa fa-heart tag-icon tag-icon-highlighted"></i>
                <i class="fa fa-heartbeat tag-icon tag-icon-not-highlighted"></i>
            }
            else if (blIconHighlight == true){
                <i class="fa fa-heart tag-icon tag-icon-not-highlighted"></i>
                <i class="fa fa-heartbeat tag-icon tag-icon-highlighted"></i>
            }
            else{
                <i class="fa fa-heart tag-icon tag-icon-not-highlighted"></i>
                <i class="fa fa-heartbeat tag-icon tag-icon-not-highlighted"></i>
            }
        }
    </div>
</div>

