@import models.DSession
@(message: String, session: DSession, sessionLink: String, hasMultSession: Boolean)(implicit req: RequestHeader)

@main(message, isHomepage = false) {


    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/host.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("javascripts/ZeroClipboard.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/geolocator.js")" type="text/javascript"></script>


    <script type="text/javascript">
        $(window).load(function(){
            @if(hasMultSession) {
                $('.modal').modal({
                  backdrop: 'static',
                  keyboard: false
                });
            }
        });
    </script>

    <script>
         $(document).ready(function() {
          var clip = new ZeroClipboard($("#copy-button"), {
              moviePath: "/assets/javascripts/ZeroClipboard.swf"
            });


            // leave group button event handler
            $(document).on ('click', '#leave', function(e) {
                // change cursor to waiting
                $("body").css("cursor", "wait");

                jsRoutes.controllers.Application.leaveSession().ajax( {
                    success : function ( data ) {
                        // change cursor back
                        $("body").css("cursor", "default");

                        // redirect to home page
                        window.location.href = '@routes.Application.index';
                    }
                });
            });

            // stay with old group button event handler
            $(document).on ('click', '#stay-old-group', function(e) {
                // refresh the page to show old session
                window.location.href = '@routes.Application.host';
            });

            // join with new group button event handler
            $(document).on ('click', '#join-new-group', function(e) {

               jsRoutes.controllers.Application.leaveSession().ajax( {
                    success : function ( data ) {
                        // reload the page
                        location.reload();
                    }
                });
            });



            // refresh list button event handler
            $(document).on ('click', '#refresh', function(e) {
                // change cursor to waiting
                $("body").css("cursor", "wait");
                $("#refresh").attr('disabled','disabled');
                var h = "&nbsp; Refresh..."
                $("#refresh i").html(h);

                // ajax call
                jsRoutes.controllers.Application.getMemberInSession().ajax( {
                  success : function ( data ) {
                    $("#member-list").empty();
                    for (var i in data){
                        var html = '<div class="col-xs-4 col-centered" style="margin-top:20px;"><i class="fa fa-user">&nbsp; ' + data[i] + '</i></div>';
                        $("#member-list").append(html);
                    }

                    // change cursor back
                    $("body").css("cursor", "default");
                    $("#refresh").removeAttr('disabled');
                    h = "&nbsp; Refresh List"
                    $("#refresh i").html(h);
                  }
                });
            });

            // refresh list button event handler
            $(document).on ('click', '#rec-btn', function(e) {
                $("body").css("cursor", "wait");
                $("#rec-btn").text("Getting recommendations for you, please wait...");
                window.location.href = '@routes.Application.recommendations(session.id.toString)';
            });
        });
    </script>
      <div class="transparent-bg-rounded">
          <table>
              <tbody>
                  <tr class="spaceUnder">
                      <td><span class="share-text">SHARE THE LINK</span></td>
                  </tr>
                  <tr class="spaceUnder">
                      <td>
                          <div class="input-group">
                              <input type="text" id="copy-link" class="form-control" value=@sessionLink onClick="this.setSelectionRange(0, this.value.length)">
                          <span class="input-group-btn">
                              <button id="copy-button" class="btn btn-info" data-clipboard-target='copy-link' title="Click to copy me.">Copy to Clipboard</button>
                          </span>
                          </div>
                      </td>
                  </tr>
                  <tr class="spacer"><td></td></tr>
                  <tr class="spaceUnder">
                      <td><span class="share-text">WHO HAS JOINED?</span>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <button class="hostlink" id="refresh"><i id="refresh-list" class="fa fa-refresh fa-2x">&nbsp; Refresh List</i></button>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <button class="hostlink" id="leave"><i id="leave-group" class="fa fa-sign-out fa-2x">&nbsp; Leave Group</i></button>
                      </td>
                  </tr>
                  <tr class="spaceUnder">
                      <td id="members">
                          <div id="member-list" class="row" style="text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);">
                              @session.getMembers.map { u =>
                                  <div class="col-xs-4 col-centered" style="margin-top:20px;">
                                      <i class="fa fa-user">&nbsp; @u</i>
                                  </div>
                              }
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td><button id="rec-btn" class="btn btn-info" type="button">Ready to See Recommendations!</button></td>
                  </tr>
              </tbody>
          </table>
      </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">You have an active group</h4>
                </div>
                <div class="modal-body">
                    Do you want to leave the previous group and join the new group?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="stay-old-group">No</button>
                    <button type="button" class="btn btn-info" id="join-new-group">Yes, join the new group</button>
                </div>
            </div>
        </div>
    </div>
}
