@(message: String)(implicit request: RequestHeader)
@main(message, isHomepage = true) {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")"> 

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<script src="@routes.Assets.at("javascripts/facebook.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/geolocator.js")" type="text/javascript"></script>
	<script>
		function onGeoSuccess(location) {
			jsRoutes.controllers.Application.addUserLoc(location.coords.latitude, location.coords.longitude).ajax();
		}

		function onGeoError(error) {
		    console.log(error);
            // To check if this is a HTML5 `PositionError`:
            // console.log(geolocator.isPositionError(error));
		}

		window.onload = function() {
            // geolocator.locateByIP(onGeoSuccess, onGeoError, 1, '');
            var html5Options = { enableHighAccuracy: true, timeout: 6000, maximumAge: 0 };
            geolocator.locate(onGeoSuccess, onGeoError, 1, html5Options, '');
		}
	</script>
	<div class="centreDiv">
		<label class="pacifico-font pacifico-font-headline">
			Dishlicious
		</label><br>

		<label class="subtitle">Yummy in my tummy.....</label><br>
		@if(request.session.get("fb-id")){
			<button id="hostBtn" type="button" class="btn btn-default navbar-font black-transparent-bg" onclick="location.href='@routes.Application.host'">Host a group meal</button>
		} else {
			<button id="fbBtn" class="btn btn-lg btn-block btn-social btn-facebook" value='@routes.Application.settings' onclick="loginLogout(); return false;">Sign in with Facebook </button>
		}
	</div>
}
