@(message: String)(implicit request: RequestHeader)

@main(message, isHomepage = false) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/notfound.css")">

    <div class="transparent-bg-rounded message">SORRY, @message NOT FOUND</div>
}
