@(message: String)(implicit request: RequestHeader)

@main(message, isHomepage = false) {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/profile.css")">

	<script src="@routes.Assets.at("javascripts/facebook.js")" type="text/javascript"></script>
    
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1452793288306821&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="container row" style="margin-top: 100px;">
		<div class="col-sm-2"></div>
		<div class="col-sm-2 rounded-transparent-bg profile-img-content">
			<img id="big-profile-pic"></img><br>
			<label id="fb-name"></label>
		</div>
		<div class="col-sm-5 rounded-transparent-bg profile-content">
			<label class="heading-font ">FRIENDS USING THIS APP</label>
			<div class="fb-facepile" data-app-id="1452793288306821" data-href="http://www.dishlicious.ca" data-width="500" data-height="300" data-max-rows="10" data-colorscheme="light" data-size="large" data-show-count="true"></div>
	    	<div class="fb-share-button " data-href="https://www.facebook.com/dishlicious.uw" data-layout="button_count"></div>
	    	<a id="preferences-btn" class="btn btn-info" href="@routes.Application.settings">Preferences </a>
		</div>
		
	</div>
}


<!-- <div class="container" style="margin-top: 100px;">

		<div style="text-align:center;">
			<div class="rounded-transparent-bg profile-img-content">
				<img id="big-profile-pic"></img><br>
	    		<label id="fb-name"></label>
			</div>
			<div class="rounded-transparent-bg profile-content">
				<label class="heading-font" >FRIENDS USING THIS APP</label><br>
		   
		    	<div class="fb-facepile" data-app-id="1452793288306821" data-href="http://www.dishlicious.ca/" data-width="500" data-height="300" data-max-rows="10" data-colorscheme="light" data-size="large" data-show-count="true"></div>

		    	<!-- <a id="share-btn" class="btn btn-lg btn-block btn-social btn-facebook" href="http://www.facebook.com/share.php?u=https://www.facebook.com/dishlicious.uw&title=Dishlicious">Invite more friends</button> 

		    	<div class="fb-share-button" data-href="https://www.facebook.com/dishlicious.uw" data-layout="button_count"></div>
		    	
		    	<a id="preferences-btn" class="btn btn-info" href="@routes.Application.settings">Preferences </a>
			</div>
		</div>    

	</div> -->

