@(restaurant: (Restaurant, List[Dish]))

<div class="panel panel-default" style="border: 0; margin-bottom: 30px;">
  <div class="panel-heading" id="restaurant-header">
    <a href="#collapse_@restaurant._1.id" data-toggle="collapse">
      <h4 class="panel-title">
        <label >@restaurant._1.name</label>
      </h4>
    </a>
  </div>
  <div id="collapse_@restaurant._1.id" class="panel-collapse collapse in">
    <div class="panel-body" style="padding: 0; border: 0px;">
      <table>
          <tr>
            @restaurant._2.map { d => @views.html.dish(d)}
          </tr>
      </table>
    </div>
  </div>
</div>
