@import scala.collection.mutable.LinkedHashMap
@(message: String, restaurants: LinkedHashMap[Restaurant, List[Dish]])(implicit request: RequestHeader)

@main(message, isHomepage = false) {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")"> 
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/restaurants.css")"> 
	
	<div class="panel-group" >

	@restaurants.map { k =>
		@views.html.restaurant(k)
	}
	</div>
}
