@(message: String, allTags: List[DTag], wl: List[DTag], bl: List[DTag], userid: Long)(implicit request: RequestHeader)
@import play.api.libs.json.Json
@main(message, isHomepage = false) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/settings.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">

<script>
    var likes = [];
    var dislikes = [];
    var likesToRemove = [];
    var dislikesToRemove = [];
    var wlJS = @Json.toJson(wl.map(_.id));
    var blJS = @Json.toJson(bl.map(_.id));
    var jsArr = @Json.toJson(wl.map(_.id)++bl.map(_.id)++allTags.map(_.id));
    var doc = $ (document);

    // Remove item from array by value
    function removeA(arr) {
        var what, a = arguments, L = a.length, ax;
        while (L > 1 && arr.length) {
            what = a[--L];
            while ((ax= arr.indexOf(what)) !== -1) {
                arr.splice(ax, 1);
            }
        }
        return arr;
    }

    doc.ready (function() {
        $("body").on("click", ".tag-icon-highlighted", function() {
          $(this).removeClass('tag-icon-highlighted').addClass('tag-icon-not-highlighted');
          var id = parseInt($(this).siblings("label").attr("tagid"));
          if ($(this).hasClass('fa-heartbeat')) {
            removeA(dislikes, id);
            if (blJS.indexOf(id) > -1)
                dislikesToRemove.push(id);
          }
          if ($(this).hasClass('fa-heart')) {
            removeA(likes, id);
            if (wlJS.indexOf(id) > -1)
                likesToRemove.push(id);
          }
        });

        $( "body" ).on("click", ".tag-icon-not-highlighted", function() {
          $(this).addClass('tag-icon-highlighted').removeClass('tag-icon-not-highlighted');

          var id = parseInt($(this).siblings("label").attr("tagid"));
          var sibling = $(this).siblings("i")
          if (sibling.hasClass('tag-icon-highlighted')) {
            sibling.removeClass('tag-icon-highlighted').addClass('tag-icon-not-highlighted');
            if (sibling.hasClass('fa-heartbeat')) {
                removeA(dislikes, id);
                if (blJS.indexOf(id) > -1)
                    dislikesToRemove.push(id);
            }
            if (sibling.hasClass('fa-heart')) {
                removeA(likes, id);
                if (wlJS.indexOf(id) > -1)
                    likesToRemove.push(id);
            }
          }

          if ($(this).hasClass('fa-heartbeat')) {
            if (dislikesToRemove.indexOf(id) > -1)
                removeA(dislikesToRemove, id);
            else
                dislikes.push(id);
          }
          if ($(this).hasClass('fa-heart')) {
            if (likesToRemove.indexOf(id) > -1)
                removeA(likesToRemove, id);
            else
                likes.push(id);
          }

        });

        // load more button event handler
        doc.on ('click', '#load-more-btn', function(e) {
            // change cursor to waiting
            $("body").css("cursor", "wait");
            $("#load-more-btn").text("Loading...");
            $("#load-more-btn").attr('disabled','disabled');

            // ajax call
            jsRoutes.controllers.Application.getNext30Tags(jsArr).ajax( {
              success : function ( data ) {
                for (var i in data){
                    var name = data[i].name;
                    var id = data[i].id;
                    var html = '<div class="col-md-2"><div class="thumbnail settings-content transparent-small-op-bg" width="100px" height="100px">' +
                        '<label class="settings-label tags-font" tagid="' + id + '">' + name + '</label><br>' +
                        '<i class="fa fa-heart tag-icon tag-icon-not-highlighted"></i>' +
                        '<i class="fa fa-heartbeat tag-icon tag-icon-not-highlighted"></i></div></div>';
                   $("#tags").append(html);
                   // append this new tags to end of jsArr
                   jsArr.push(data[i].id);
                }

                // change cursor back
                $("body").css("cursor", "default");
                $("#load-more-btn").removeAttr('disabled');
                $("#load-more-btn").text("Load More");

                // scroll to bottom
                $('html, body').animate({
                    scrollTop: $(document).height()
                }, 1500);
              }
            });
        });

        // save button event handler
        doc.on ('click', '#save-btn', function(e) {
            // change cursor to waiting
            $("body").css("cursor", "wait");
            $("#save-btn").text("Saving...");
            $("#save-btn").attr('disabled','disabled');

            jsRoutes.controllers.Application.savePreferences(@userid, likes, dislikes, likesToRemove, dislikesToRemove).ajax( {
                success : function ( data ) {
                    wlJS = wlJS.concat(likes);
                    blJS = blJS.concat(dislikes);
                    likes = [];
                    dislikes = [];

                    for (var i = 0; i < likesToRemove.length; i++) {
                        var index = wlJS.indexOf(likesToRemove[i]);
                        if (index > -1) wlJS.splice(index, 1);
                    }

                    for (var i = 0; i < dislikesToRemove.length; i++) {
                        var index = blJS.indexOf(dislikesToRemove[i]);
                        if (index > -1) blJS.splice(index, 1);
                    }
                    likesToRemove = [];
                    dislikesToRemove = [];

                    // change cursor back
                    $("body").css("cursor", "default");
                    $("#save-btn").removeAttr('disabled');
                    $("#save-btn").text("Save");
                }
            });
        });

        // reset button event handler
        doc.on ('click', '#reset-btn', function(e) {
            for (var i = 0; i < likes.length; i++) {
                $("label[tagid='"+likes[i]+"']").siblings(".fa-heart").removeClass('tag-icon-highlighted').addClass('tag-icon-not-highlighted');
            }
            likes = [];

            for (var i = 0; i < dislikes.length; i++) {
                $("label[tagid='"+dislikes[i]+"']").siblings(".fa-heartbeat").removeClass('tag-icon-highlighted').addClass('tag-icon-not-highlighted');
            }
            dislikes = [];

            for (var i = 0; i < likesToRemove.length; i++) {
                $("label[tagid='"+likesToRemove[i]+"']").siblings(".fa-heart").removeClass('tag-icon-not-highlighted').addClass('tag-icon-highlighted');
            }
            likesToRemove = [];

            for (var i = 0; i < dislikesToRemove.length; i++) {
                $("label[tagid='"+dislikesToRemove[i]+"']").siblings(".fa-heartbeat").removeClass('tag-icon-not-highlighted').addClass('tag-icon-highlighted');
            }
            dislikesToRemove = [];
        });
    });
</script>

  <div class="container preferences-container container-small" style="padding-bottom: 40px;">
    <div class="row horizontally-centered" style="margin: 2%;text-align: center;">
      <label class="heading-font ">Personalize according to your taste</label>
    </div>
    <div id="tags" class="row">
      @wl.map { t =>
        @views.html.generalTag(t,true,false)
      }
      @bl.map { t =>
        @views.html.generalTag(t,false,true)
      }
      @allTags.map { t =>
        @views.html.generalTag(t,false,false)
      }
    </div>

    <button style="width:30%; height: 50px; float: left;" id="reset-btn" class="btn btn-warning" type="button">Reset</button>
    <button style="width:40%; height: 50px;" id="load-more-btn" class="btn btn-info" type="button">Load More</button>
    <button style="width:30%; height: 50px; float: right;" id="save-btn" class="btn btn-success" type="button">Save</button>

  </div>
}
